/*

TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

---------------------------------------------
Table of contents
------------------------------------------------
1. Typography
2. General
3. Nav
4. Hero Carousel
5. Accordion
6. Shop
7. Product
8. Carousel Hero
9. Carousel Brand
10. Services
11. Contact map
12. Footer
13. Small devices (landscape phones, 576px and up)
14. Medium devices (tablets, 768px and up)
15. Large devices (desktops, 992px and up)
16. Extra large devices (large desktops, 1200px and up)
--------------------------------------------- */




/* Typography */
body, ul, li, p, a, label, input, div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}
.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}
.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}
.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
}
/* General */
.logo { font-weight: 500 !important;}
.text-warning {  color: #ede861 !important;}
.text-muted { color: #bcbcbc !important;}
.text-success { color: #59ab6e !important;}
.text-light { color: #cfd6e1 !important;}
.bg-dark { background-color: #212934 !important;}
.bg-light { background-color: #F2FBFF!important;}
.bg-black { background-color: #1d242d !important;}
.bg-success { background-color: #59ab6e !important;}
.btn-success {
  background-color: #59ab6e !important;
  border-color: #56ae6c !important;
}
.pagination .page-link:hover {color: #000;}
.pagination .page-link:hover, .pagination .page-link.active {
  background-color: #69bb7e;
  color: #F2FBFF;
}
/* Nav */
#templatemo_nav_top { 
  min-height: 40px;
  background-color: #F2FBFF;

}

#img-nav{
  width: 300px; 
  height: 300px;
  float: center;
}

#img-nav-main{
  max-height: 60px; 
  font-weight: bold; 
}


#templatemo_nav_top * { font-size: .9em !important;}


#templatemo_main_nav{
  background-color: #F2FBFF;
}
#templatemo_main_nav a { color: #212934;}
#templatemo_main_nav a:hover { color: #69bb7e;}
#templatemo_main_nav .navbar .nav-icon { margin-right: 20px;}

#templatemo_main_nav_text{
  font-weight: bold;
}


/* Footer */
#tempaltemo_footer {
  padding-top: 20px; /* Ajusta el espacio superior */
  padding-bottom: 20px; /* Ajusta el espacio inferior */
}



#tempaltemo_footer a { color: #dcdde1;
}
#tempaltemo_footer a:hover { color: #68bb7d;}
#tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#tempaltemo_footer ul.footer-icons li:hover {
  background-color: #F2FBFF;
  transition: .5s;
}
#tempaltemo_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#tempaltemo_footer .border-light { border-color: #2d343f !important;}
/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
  font-size: 12px !important;
}
.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}

@media (min-width: 576px) {
  .tempaltemo-carousel .h1 { font-size: 1em !important;}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #templatemo_main_nav .navbar-nav {max-width: 450px;}
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #templatemo_main_nav .navbar-nav {max-width: 550px;}
  #template-mo-zay-hero-carousel .carousel-item {min-height: 30rem !important;}
  .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
  .product-wap .product-color-dot {
    width: 12px;
    height: 12px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}



/*// index */


/* Estilos para el contenedor del mensaje de bienvenida */

#index-spaces-div{
    height: 120px;
}


#index-welcome-img{
  padding: 20px;
  width: 450px; 
  height: 450px;
  float: center;
}

#index-welcome-div{
  text-align: center; /* Centrar el contenido */
  padding: 80px; /* Añadir espacio alrededor del contenido */
  background-color: #F2FBFF; /* Color de fondo */
  border-radius: 10px; /* Bordess redondeados */
}

/* Estilos para el texto del mensaje */
#index-welcome-div p {
  font-size: 18px; /* Tamaño de fuente */
  margin-bottom: 10px; /* Espacio inferior */
}


#index-welcome-text{
  color: #201D57;
  padding-top: -80px;
  padding: 10px; 
  font-size: 96px;
}

#index-about-div{
  text-align: left ; /* Centrar el contenido izquierda*/
  padding: 80px; /* Añadir espacio alrededor del contenido */
  background-color: #F2FBFF; /* Color de fondo */
  border-radius: 10px; /* Bordess redondeados */
  padding-left: 40px;
}

#index-about-text{
  color: #201D57;
  margin: 20px; 
  padding: 10px;  
}

#index-about-container{
    display: inline-block;    
}

#index-about-text-about{
    float: left;
    color: #201D57;
    padding-right: -10px;
    padding: 5px; 
    font-size: 96px;
}

#index-about-text-us{
    float: left;
    padding-left: -10px;
    color: #F73859;
    padding: 5px;
    font-size: 96px;
}

#index-about-text-p-left{
    float: left;
    color: #201D57;
    padding-right: -10px;
    padding: 5px; 
    font-size: 96px;
}

#index-about-text-p-right{
    float: right;
    color: #504F4F;
    font-size: 30px;
    font-weight: line-height;

}

#index-contact-div{
  text-align: right; /* Centrar el contenido izquierda*/
  padding: 80px; /* Añadir espacio alrededor del contenido */
  background-color: #F2FBFF; /* Color de fondo */
  border-radius: 10px; /* Bordess redondeados */
  padding-left: 40px;
}

#index-contact-container{
    display: inline-block;    
}

#index-contact-text-contactin{
    float: left;
    color: #201D57;
    padding-right: -10px;
    padding: 5px;
    padding-right: -10px;
    font-size: 96px; 
}

#index-contact-text-formation{
    float: left;
    margin-left: -12px;
    color: #F73859;
    padding: 5px;
    font-size: 96px;
}

#index-contact-spaces-div{
    height: 20px;
}

#index-contact-text-div{
  text-align: center; /* Centrar el contenido izquierda*/
  padding: 80px; /* Añadir espacio alrededor del contenido */
  background-color: #F2FBFF; /* Color de fondo */
  border-radius: 10px; /* Bordess redondeados */
  padding-left: 40px;
}

#index-contact-text-container{
    display: inline-block;    
    text-align: left;
    padding: 20px;
}



/* Login */

#login-forms-div{
    text-align: center;
    padding: 200px;
    background-color: #F2FBFF;
}



#login-row-div{
  text-align: left; /* Centrar el contenido izquierda*/
  padding: 20px; /* Añadir espacio alrededor del contenido */
  background-color: #F2FBFF; /* Color de fondo */
  border-radius: 10px; /* Bordess redondeados */
  color: #504F4F;
  padding-left: 201px;
}

#login-names{
    margin-right:-800px;
}

#login-questions{
    text-align: left;
}

#index-login-spaces-div{
    height: 125px;
    background-color: #F2FBFF;
}



/* register */
 
#register-forms-div{
    text-align: center;
    padding: 100px;
    background-color: #F2FBFF;
}

#register-spaces-div{
    height: 60px;
}

/* register_response */

#register-response-div{
  text-align: center; /* Centrar el contenido */
  padding: 350px; /* Añadir espacio alrededor del contenido */
  background-color: #F2FBFF; /* Color de fondo */
  border-radius: 10px; /* Bordess redondeados */
}

#register-response-spaces-div{
    height: 100px;
}

#register-response-spaces-div-bottom{
    height: 100px;
}




/* Profile */

#profile-container{
    display: inline-block;    
}

#profile-welcome-div{
  text-align: center; /* Centrar el contenido */
  padding: 50px; /* Añadir espacio alrededor del contenido */
  background-color: #F2FBFF; /* Color de fondo */
  border-radius: 10px; /* Bordess redondeados */
}

#profile-welcome-text{
  color: #201D57;
  padding-top: -80px;
  padding: 10px; 
  font-size: 60px;
}

#profile-welcome-icon{
    float: left;
    color: #F73859;
    padding-right: -10px;
    padding: 5px; 
    font-size: 86px;
}

#profile-welcome-welcome{
    float: left;
    padding-left: -10px;
    color: #201D57;
    padding: 5px;
    font-size: 86px;
}

#profile-container-cards{
    float: center;
    padding: 50px;
    height: 650px;
    background-color: #F2FBFF; 

}

#profile-div-card{
    background-color: #F2FBFF; 
    width: 18rem;
    border-color:#F73859;
    border-width: 3px;
    border-radius: 20px;
    height: 600px;
    width: 350px;

}

#profile-image-card{
    padding: 10px;
    border-radius: 20px;
    height:250px;
    width:350px;
    

}

#profile-title-card{
    float: center;
    color: #504F4F;
    font-size: 30px;
    font-weight: bold;
    width: 310px;

}

#profile-place-card{
    float: center;
    color: #201D57;
    font-size: 20px;
    font-weight: bold;

}

#profile-company-card{
    float: center;
    color: #F73859;
    font-size: 20px;
    font-weight: bold;

}


#profile-text-card{
    float: Center;
    color: #504F4F;
    font-size: 20px;
    font-weight: line-height;

}

#profile-body-card{
    float: Center;
    padding: 10px;
    color: #504F4F;
    height: 310px;
    width: 350px;

}


#profile-btn-blue-empty{
    color: #201D57;
    border-width: 3px;
    border-color: #201D57;
    border-light: #201D57;
    background-color:#F2FBFF;
    border-radius: 30px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align: center;
    line-height: -50;
    font-size: 20px !important;
    font-weight: 400 !important;
    padding-top: 10px;
}


#profile-spaces-div{
    height: 140px;
    background-color: #F2FBFF;
}

/* btn */

#btn-pink{
    color: #201D57;
    background-color:#F73859;
    border-radius: 30px;
    width: 200px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align: center;
    line-height: -50;
    font-size: 35px !important;
    font-weight: 400 !important;
    padding-top: 10px;
}


#btn-blue{
    color: #F2FBFF;
    background-color:#201D57;
    border-radius: 30px;
    width: 200px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align: center;
    line-height: -50;
    font-size: 35px !important;
    font-weight: 400 !important;
    padding-top: 10px;
}

#btn-pink-empty{
    color: #201D57;
    border-width: 3px;
    border-color: #F73859;
    border-light: #F73859;
    background-color:#F2FBFF;
    border-radius: 30px;
    width: 600px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align: center;
    line-height: -50;
    font-size: 20px !important;
    font-weight: 400 !important;
    padding-top: 10px;
}

#btn-blue-empty{
    color: #201D57;
    border-width: 3px;
    border-color: #201D57;
    border-light: #201D57;
    background-color:#F2FBFF;
    border-radius: 30px;
    width: 600px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align: center;
    line-height: -50;
    font-size: 20px !important;
    font-weight: 400 !important;
    padding-top: 10px;
}

#btn-gray{
    color: #F2FBFF;
    background-color:#504F4F;
    border-radius: 30px;
    width: 400px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align: center;
    line-height: -50;
    font-size: 35px !important;
    font-weight: 400 !important;
    padding-top: 10px;



/* Estilos para el botón de inicio */
.btn-home {
  display: inline-block; /* Hacer que el botón sea en línea */
  padding: 10px 20px; /* Añadir espacio alrededor del texto del botón */
  background-color: #007bff; /* Color de fondo */
  color: #F2FBFF; /* Color del texto */
  text-decoration: none; /* Quitar subrayado */
  border-radius: 5px; /* Bordess redondeados */
  transition: background-color 0.3s; /* Transición suave */
}

/* Estilos para el botón de inicio en el hover */
.btn-home:hover {
  background-color: #0056b3; /* Cambiar color de fondo en hover */
}

/* Estilos para hacer el diseño responsive */
@media screen and (max-width: 768px) {
  .mensaje-bienvenida {
      padding: 15px; /* Reducir el espacio en pantallas pequeñas */
  }
  .mensaje-bienvenida p {
      font-size: 16px; /* Reducir el tamaño de la fuente en pantallas pequeñas */
  }
  .btn-home {
      padding: 8px 16px; /* Reducir el espacio del botón en pantallas pequeñas */
  }
}
