<!DOCTYPE html>
<html>
<head>
    <title>Editar Empleado</title>
</head>
<body>
    <h1>Editar Empleado</h1>
    <form action="{{ url_for('web.edit_employee', id=employee.id) }}" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="{{ employee.name }}" required><br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" value="{{ employee.password }}" required><br>
        <label for="company_id">Compañía:</label>
        <select id="company_id" name="company_id" required>
            {% for company in companies %}
            <option value="{{ company.id }}" {% if company.id == employee.company_id %}selected{% endif %}>
                {{ company.company_name }}
            </option>
            {% endfor %}
        </select><br>
        <label for="position">Posición:</label>
        <input type="text" id="position" name="position" value="{{ employee.position }}" required><br>
        <button type="submit">Actualizar Empleado</button>
    </form>
</body>
</html>

