<!DOCTYPE html>
<html lang="en">

<head>
    <title>IMH/Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/templatemo.css">
    <link rel="stylesheet" href="../static/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../static/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light" id="templatemo_main_nav">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto"> <!-- Alinea los elementos a la izquierda -->
                    <li class="nav-item">
                        <a class="navbar-toggler-icon" href="{{ url_for('web.index') }}" id="templatemo_main_nav_text"></a>
                    </li> 
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Close Header --!>
   
    <div id="profile-welcome-div">
	<div id="profile-container">
	    <div id="profile-welcome-icon">
		<h1 id="profile-welcome-icon" class="md-3 bg-3">$You</h1>
	    </div>
	    <div id="profile-welcome-welcome">
		<h1 id="profile-welcome-welcome" class="md-3 bg-3">Welcome!</h1>
	    </div>
	</div>    
    </div>

    <div id="profile-container-cards">
	<div class="container text-center">
	    <div class="row">
		<div class="col">
		    <div class="card" id="profile-div-card">
			<img src="../static/assets/img/Eclipse.png" class="card-img-top" id="profile-image-card">
			<div  id="profile-body-card">
			    <h5 id="profile-title-card">Modelación Númerica</h5>
			    <h5 id="profile-place-card">Medellin,Colombia</h5>
			    <h5 id="profile-company-card">Magneto</h5>
			    <p class="card-text" id="profile-text-card">Se busca encontrar modelos de computación matematica que permitan llegar a interpretar imagenes de tipo DICOM.</p>
			    <div>
				<a href="#" class="btn btn-primary" id="profile-btn-blue-empty">Me Interesa</a>
			    </div>
			</div>
		    </div>
		</div>
		<div class="col">
		    <div class="card" id="profile-div-card">
			<img src="../static/assets/img/IMH_platform.png" class="card-img-top" id="profile-image-card">
			<div class="card-body">
			    <h5 id="profile-title-card">Sistema Postulación Proyectos Interno</h5>
			    <h5 id="profile-place-card">Medellin,Colombia</h5>
			    <h5 id="profile-company-card">Magneto</h5>
			    <p class="card-text" id="profile-text-card">El proyecto tiene el proposito de crear un MPV sobre un Sistema que permita la oferta y postulación de proyectos dentro de la empresa.</p>
			    <div>
				<a href="#" class="btn btn-primary" id="profile-btn-blue-empty">Me Interesa</a>
			    </div>
			</div>
		    </div>
		</div>
		<div class="col">
		    <div class="card" id="profile-div-card">
			<img src="../static/assets/img/download.jpeg" class="card-img-top" id="profile-image-card">
			<div class="card-body">
			    <h5 id="profile-title-card">Software Seguimiento a Procesos</h5>
			    <h5 id="profile-place-card">Medellin,Colombia</h5>
			    <h5 id="profile-company-card">Magneto</h5>
			    <p class="card-text" id="profile-text-card">Con el ideal de agilizar algunos procesos, se ha planteado desarrollar un sistema de software que permita su seguimiento en diferentes situaciones.</p>
			    <div>
				<a href="#" class="btn btn-primary" id="profile-btn-blue-empty">Me Interesa</a>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>	
    </div>
    
    <div id="profile-spaces-div" ></div>




</body>
