<!DOCTYPE html>
<html lang="en">
<head>
    <title>IMH/Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Load Bootstrap and other styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/templatemo.css">
    <link rel="stylesheet" href="../static/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../static/assets/css/fontawesome.min.css">
</head>

<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light" id="templatemo_main_nav">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto"> <!-- Alinea los elementos a la izquierda -->
                    <li class="nav-item">
                        <a class="navbar-toggler-icon" href="{{ url_for('web.index') }}" id="templatemo_main_nav_text"></a>
                    </li> 
                </ul>
            </div>
        </div>
    </nav>

    <!-- Profile Welcome Section -->
    <div id="profile-welcome-div">
        <div id="profile-container">
            <div id="profile-welcome-icon">
                <h1 id="profile-welcome-icon" class="md-3 bg-3">$You</h1>
            </div>
            <div id="profile-welcome-welcome">
                <h1 id="profile-welcome-welcome" class="md-3 bg-3">Welcome!</h1>
            </div>
        </div>    
    </div>

    <!-- Projects Section -->
    <div class="container">
        <h1>Proyectos</h1>
        <a href="{{ url_for('web.create_project') }}" class="btn btn-primary mb-3">Crear Proyecto</a>
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ project.image }}" class="card-img-top" alt="Imagen del proyecto">
                    <div class="card-header" data-toggle="collapse" data-target="#collapse{{ loop.index }}">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.location }}</p>
                        <p class="card-text">{{ project.company }}</p>
                    </div>
                    <div id="collapse{{ loop.index }}" class="collapse">
                        <div class="card-body">
                            <p>{{ project.description }}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" data-toggle="collapse" data-target="#collapse{{ loop.index }}">Me Interesa</button>
                        <form action="{{ url_for('web.delete_project', project_id=project.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>



    <div id="profile-spaces-div"></div>

    <!-- Load JavaScript files -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJr3/6rjOTPYsb2b9UKl2QpP7r0rN3j9lx8/5l9wL28Jcf49R" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>

