<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyectos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/templatemo.css">
    <link rel="stylesheet" href="../static/assets/css/custom.css">

    <style>
        .card {
            border: 1px solid #e2e2e2;
            border-radius: 10px;
            margin: 10px;
        }
        .card-header {
            cursor: pointer;
        }
        .more-info {
            display: none;
        }
        .card-img-top {
            max-height: 200px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Proyectos</h1>
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4">
                <div class="card" id="profile-div-card" >
                    <img src="{{ project.image }}" class="card-img-top" alt="Imagen del proyecto" id="profile-image-card">
                    <div class="card-header" data-toggle="collapse" data-target="#collapse{{ loop.index }}" id="profile-body-card">
                        <h5 class="card-title" id="profile-title-card">{{ project.title }}</h5>
                        <p class="card-text" id="profile-place-card">{{ project.location }}</p>
                        <p class="card-text" id="profile-company-card" >{{ project.company }}</p>
                    </div>
                    <div id="collapse{{ loop.index }}" class="collapse">
                        <div class="card-body" id="profile-text-card" >
                            <p>{{ project.description }}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" data-toggle="collapse" data-target="#collapse{{ loop.index }}"  id="btn-blue-admin" >Me Interesa</button>
                        <form action="{{ url_for('web.delete_project', project_id=project.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger" id="btn-pink-admin">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="{{ url_for('web.create_project') }}" class="btn btn-primary mb-3" id="btn-blue">Crear Proyecto</a>

</body>
</html>

